/*
    Tipografía
*/
@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.eot?v=6.1.95");
    src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=6.1.95") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=6.1.95") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=6.1.95") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=6.1.95") format("truetype");
    font-weight: normal;
    font-style: normal
}

/*
    Utilitarios
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    font-size: calc(1.3rem + .6vw);
}

a {
    text-decoration: none;
    outline: none;
}


body {
    font-family: "Montserrat", sans-serif;
    color: #1a3365;
    font-size: 16px;
}



/*
    Header
*/

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
}

.nav-sticky.navbar-custom {
    margin-top: 0px;
    padding: 18px 0px;
    background-color: #fff;
    box-shadow: 0px 3px 10px 0px rgb(38 107 193 / 8%);
}
.navbar-custom {
    background-color: #fff !important;
    padding: 18px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all .5s ease-in-out;
}

.navbar-custom .navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #1a3365;
}

.navbar-custom .navbar-toggler:focus {
    box-shadow: 0 0 0 1.25px;
}

.icon__list {
    color: black;
    height: 30px;
    cursor: pointer;
    width: 25px;
}


/* barra de navegacion responsive*/

.navbar-collapse {
    align-items: flex-start;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    color: #0ea6e9;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 14.5px;
    color: #1a3365;
    background-color: transparent;
    margin: 0 14px;
    transition: all .5s;
    position: relative;
    
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #0ea6e9;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s;
}

.navbar-custom.navbar-white .navbar-nav li a.active,
.navbar-custom.navbar-white .navbar-nav li a:hover,
.navbar-custom.navbar-white .navbar-nav li a:focus,
.navbar-custom.navbar-white .navbar-nav li a:active {
    color: #0ea6e9 !important;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active::before {
    width: 100%;
}


/* opciones de navegador*/


/* boton de navbar */

.navbar-custom .navbar-collapse .nav-btn {
    padding: 7px 25px;
    background-color: #0ea6e9;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    letter-spacing: 1px;
}
.btn {
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
    
}

/* seccion 01 */

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.row>* {
    position: relative;
}


p {
    line-height: 1.6;
}

.fs-18 {
    font-size: 18px;
}

.text-muted {
    color: #6e88a2 !important;
}


/* botones de Home */


.hstack.d-grid
.d-sm-blok
 {
    display: flex;
    flex-direction: column ;
    justify-content: center;
   
}


.fas {
    margin: 0px 10px 0px 0px;
    font-size: 8px;
}

.btn:focus {
    box-shadow: none
}

a .btn,
.btn-primary {
    background: #0ea6e9 ;
    border-color: #0ea6e9 ;
    font-size: 14px ;
    font-weight: 300;
    transition: all .5s ease;
    position: relative;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open>.dropdown-toggle.btn-primary {
    background: #0d98d6;
    border-color: #0d98d6;
    box-shadow: 0px 8px 20px -6px rgba(14, 166, 233, .6);
    transform: translateY(-6px)
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open>.dropdown-toggle.btn-primary {
    background: #0ea6e9;
    border-color: #0ea6e9;
    box-shadow: 0px 8px 20px -6px rgba(14, 166, 233, .6);
    transform: translateY(-6px)
}

.btn-primary {
    background: #0ea6e9;
    border-color: #0ea6e9 !important;
    

}

.btn1 {
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
    min-width: 212.33px;
}
.btn2 {
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
    min-width: 212.33px;
}

/* modal*/

.watchivideomodal {
    position: absolute;
}

.home .home-modal {
    border: 0;
    background-color: transparent;
}

.home-modal .btn-close {
    width: 50px;
    height: 40px;
    background: #ffffff6e;
    border-radius: 4px;
    position: relative;
    top: 75px;
    right: 3px;
    border: none;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.close{
    background: #bdc2c763;
    

}
.modal-header{
    display: flex;
    justify-content: right;
}

#fas{
    padding: 1px 5px 0px 5px;
    font-size: 37px;
    display: flex;
    color: rgba(255, 255, 255, 0.726);
}
.bi {
    height: 30px;
    width: 30px;
}



.content-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-btn a{
    min-width: 210px;
}

/* imagen de Home*/


.buy-about-img {
    background: linear-gradient(
22deg, #f6f6f6 35%, #eeeeee calc(35% + 1px), #f6f6f6 45%, #ededed calc(45% + 1px), #ededed 65%, #f6f6f6 calc(65% + 1px), #f6f6f6 100%);
    background-blend-mode: overlay,exclusion;
    padding: 25px;
}

/* clientes*/

.home .client-list img {
    opacity: .6;
    margin: 8px 0;
}






/* botones de la parte inferior del home  */



 a:hover {
    color:#1a3365;
    text-decoration:none;
}
.position {
    width: 100%;
    height: auto;
    bottom: 25px;
    z-index: 1;
    left: 0;
    display: block;
    position: absolute;
    /* top: 5px; */
}

.home-shape-arrow .arrow-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
}
.home-shape-arrow i {
    background: #fff;
    border: 1px solid #0ea6e9;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 40px;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.fal {
    color: #1a3365 !important;
    font-size: 15px;
}



/* seccion 02*/


.sec-1{
    height: 400px;
}

@media(min-width: 473px){
    .btn1 {
        padding: 13px 36px;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s ease;
        position: relative;
        min-width: 155.4px;
    }
    .btn2 {
        padding: 13px 36px;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s ease;
        position: relative;
        min-width: 212.33px;
    }
}

@media(min-width: 768px){
    .content-btn{
        display: block;
    }
    .content-btn a{
        min-width: inherit;
    }
    
    .btn1 {
        padding: 13px 36px;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s ease;
        position: relative;
        min-width: 155.4px;
    }
    .btn2 {
        padding: 13px 36px;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s ease;
        position: relative;
        min-width: 212.33px;
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {

    header {
        justify-content: center;
    }

    
    

    .collapse {
        display: flex;
        flex-direction: row;

    }
    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active {
        color: #0ea6e9;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 14.5px;
        color: #1a3365;
        background-color: transparent !important;
        margin: 0 0px;
        transition: all .5s;
        position: relative;
        font-weight: 500;
        width: 700px;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0px;
        height: 2px;
        background-color: #0ea6e9;
        left: 50%;
        transform: translateX(-50%);
        transition: all .2s;
    }

    .navbar-custom.navbar-white .navbar-nav li a.active,
    .navbar-custom.navbar-white .navbar-nav li a:hover,
    .navbar-custom.navbar-white .navbar-nav li a:focus,
    .navbar-custom.navbar-white .navbar-nav li a:active {
        color: #0ea6e9 !important;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active::before {
        width: 100%;
    }

    /* 
    seccion 01
    */
    .hstack.d-grid
    .d-sm-blok {
        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }

    a .btn,
    .btn-primary {
        background: #0ea6e9;
        border-color: #0ea6e9;
        
    }

    .btn1 {
        padding: 13px 36px;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s ease;
        position: relative;
        min-width: 155.4px;
    }
    .btn2 {
        padding: 13px 36px;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s ease;
        position: relative;
        min-width: 212.33px;
    }
}


@media only screen and (max-width: 1800px) and (min-width: 992px) {
    .collapse {
        display: flex;
        flex-direction: row;

    }
    .conteiner {
        padding: 0px 0px 0px 0px;
         margin-top: 85px; 
        padding-top: 48px;
    }

    .navbar-nav {
        justify-content: center;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active {
        color: #0ea6e9;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 14.5px;
        color: #1a3365;
        background-color: transparent !important;
        margin: 0 14px;
        transition: all .5s;
        position: relative;
        font-weight: 500;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0px;
        height: 2px;
        background-color: #0ea6e9;
        left: 50%;
        transform: translateX(-50%);
        transition: all .2s;
    }

    .navbar-custom.navbar-white .navbar-nav li a.active,
    .navbar-custom.navbar-white .navbar-nav li a:hover,
    .navbar-custom.navbar-white .navbar-nav li a:focus,
    .navbar-custom.navbar-white .navbar-nav li a:active {
        color: #0ea6e9 !important;
    }

    .navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active::before {
        width: 100%;
    }

    /*
    Section 01
    */

    .hstack
    .d-grid
    .d-sm-blok {
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }

    a .btn,
    .btn-primary {
    background: #0ea6e9 !important;
    border-color: #0ea6e9 !important;
    padding: 15px !important;
    font-size: 14px !important;
    font-weight: 300;
    min-width: 200px;
    transition: all .5s ease;
    position: relative;
   
}

.btn1 {
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
    min-width: 155.4px;
}

.btn2 {
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
    min-width: 212.33px;
}
}


